<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel= "stylesheet"
    />
    <title>My movies</title>
  </head>
  <body>
    <div class="main">
      <h1>My movies</h1>
      <div class="search">
        <div class="formInput">
          <div class="label">Name</div>
          <input type="text" [(ngModel)]="tmpMovie.name" />
        </div>

        <div class="formInput">
          <div class="label">Director</div>
          <input type="text" [(ngModel)]="tmpMovie.director" />
        </div>

        <span (click)="add(tmpMovie)"><i class="fas fa-plus"></i> Add</span>
      </div>
      <ul>
        @for (movie of movies; track movie.id){
        <li>
          {{ movie.name }}
          <i class="fas fa-trash-alt" (click)="delete(movie.id)"></i>
        </li>
        }
      </ul>
    </div>
  </body>
</html>